body {
    color: rgb(99, 102, 106);
    background-size: cover;
    background-image: url(resources/wallpaperflare.com_wallpaper.jpg);
    font-family: "SUSE", serif;
    margin: 0px;
    display: block;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
}

header {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    color: rgb(255, 209, 63);
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(195, 0, 47);
}

.Library {
    padding-left: 20px;
    transform-origin: left;
    user-select: none;
}

.logo {
    width: 70px;
    padding: 10px;
    
}

form {
    font-family: "Pridi", serif;
    font-size: medium;
    margin: 20px;
    padding: 50px;

}

.form{
    display: flex;
    flex-wrap: wrap;
}

input[type=text] , input[type=email] , input[type=date] {
    position: absolute;
    left: 290px;
    font-family: "Pridi", serif;
    font-size: medium;
    color: rgb(99, 102, 106);
    border: 1px solid rgb(99, 102, 106);
    border-radius: 4px;
    width: 190px;
    height: 30px;
    padding: 0px 10px;
    margin: 0px 20px;
  }

select{
    position: absolute;
    left: 220px;
    font-family: "Pridi", serif;
    font-size: medium;
    color: rgb(99, 102, 106);
    border: 1px solid rgb(99, 102, 106);
    border-radius: 4px;
    width: 212px;
    height: 32px;
    padding: 0px 10px;
    margin: 0px 20px;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 40%;
    height: 50px;
    padding: 0 35px 0 5px;
}

.input-box label {
    position: absolute;
    left: 0px;
}

.input-box input{
    position: absolute;
    left: 220px;
}

[type=submit]{
    
    font-family: "Pridi", serif;
    font-size: large;
    color: rgb(190, 77, 0);
    border: 1px solid rgb(99, 102, 106);
    border-radius: 4px;
    background-color: rgb(255, 209, 63);
    width: 80%;
    height: 60px;
    padding: 0px 10%;
    margin: 0px 10%;
}
 
