body {
    color: rgb(99, 102, 106);
    background-size: cover;
    background-image: url(resources/wallpaperflare.com_wallpaper.jpg);
    font-family: "SUSE", serif;
    margin: 0px;
    display: block;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
}

header {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    color: rgb(255, 209, 63);
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(195, 0, 47);
}

.Library {
    padding-left: 20px;
    transform-origin: left;
    user-select: none;
}

.logo {
    width: 70px;
    padding: 10px;
    
}

form {
    font-family: "Pridi", serif;
    font-size: medium;
    margin: 20px;
    padding: 20px;

}

.form{
    display: flex;
    flex-wrap: wrap;

}

input[type=text] , input[type=email] , input[type=date] , [type=submit] {
    font-family: "Pridi", serif;
    font-size: medium;
    text-decoration: none;
    border: 1px solid rgb(99, 102, 106);
    border-radius: 4px;
    width: 190px;
    height: 30px;
    padding: 0px 10px;
    margin: 0px 20px;
  }
